{
    "root": true,

    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "sourceType": "module"
    },

    "extends": "eslint:recommended",
    "plugins": [
        "@salesforce/eslint-plugin-lds",
        "@typescript-eslint",
        "jest"
    ],

    "env": {
        "browser": true,
        "es6": true,
        "node": true,
        "jest": true
    },

    "rules": {
        "eqeqeq": "error",
        "guard-for-in": "error",
        "no-console": "error",
        "no-implicit-globals": "error",
        "no-param-reassign": "error",
        "no-return-await": "error",
        "no-throw-literal": "error",
        "no-unused-expressions": "error",
        "no-unused-vars": "off",

        "@salesforce/lds/no-optional-chaining": "error",
        "@salesforce/lds/no-invalid-todo": "error",
        "@salesforce/lds/no-error-in-production": "error",
        "@typescript-eslint/no-unused-vars": [
            "error",
            { "argsIgnorePattern": "^_" }
        ],

        "jest/no-focused-tests": "error",
        "jest/no-identical-title": "error",
        "jest/valid-describe": "error",
        "jest/valid-expect-in-promise": "error",
        "jest/valid-expect": "error",
        "jest/consistent-test-it": "error",
        "jest/lowercase-name": [
            "error",
            {
                "ignore": ["describe", "test"]
            }
        ]
    },

    "overrides": [
        {
            "files": [
                "packages/**/karma/**",
                "packages/**/__karma__/**",
                "packages/lds-karma/**/lds.js",
                "packages/lds-karma/**/test-util.js",
                "packages/lds-karma/**/global-setup.js"
            ],

            "env": {
                "jasmine": true
            },

            "globals": {
                "__mockData__": true
            }
        },
        {
            "files": ["**/*.benchmark.js"],

            "globals": {
                "benchmark": true,
                "beforeAll": true,
                "run": true,
                "before": true,
                "describe": true
            }
        },
        {
            "files": ["**/refreshData.js"],

            "globals": {
                "$conn": true
            }
        },
        {
            "files": [
                "packages/**/karma/**",
                "packages/lds-karma/**/test-util.js",
                "packages/**/__tests__/**",
                "packages/**/__karma__/**",
                "packages/**/__benchmarks__/**"
            ],
            "rules": {
                "@salesforce/lds/no-optional-chaining": "off",
                "@salesforce/lds/no-invalid-todo": "warn",
                "@salesforce/lds/no-error-in-production": "off"
            }
        }
    ]
}
