# OS artifacts
.DS_STORE

# Tools artifacts
node_modules
coverage
generated-typedoc
.eslintcache
.vscode/settings.json
.vscode/launch.json
*.log
*.pem
.idea
__benchmarks_results__
.sfdx

# Project artifacts
dist
sfdc
build
.rpt2_cache
generated
core-package
